@use "base";

.header {
  height: 10vh;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;

  h1 {
    letter-spacing: 2px;
  }
}

.main {
  height: calc(100vh - 10vh);
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
    list-style: none;
    gap: 1rem;
    font-size: 1.3rem;

    li {
      background: rgba(49, 48, 48, 0.8);
      padding: 10px;
      transition: 0.3s ease-in;
      a {
        text-decoration: none;
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        background: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
